@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
body {
	margin-top: 3em;
}
#morpher {
	background-color: #eef;
	background-color: rgba(238,255,255,0.5);
	position: fixed;
	top: 0;
}
table { border-collapse: collapse; }
th {
	font-family: sans-serif;
	border: 1px solid #bbb;
	padding: 0.3em 0.7em;
	background-color: #eee;
	background: linear-gradient(to bottom, #fff, #eee);
}
th.section-header {
	text-align: left;
	background-color: #dde;
	background: linear-gradient(to bottom, #eef, #ddf);
}
td.cont, td.desc { color: #000; border: 1px solid #bbb; padding: 0.3em 0.7em; }
td.cont { font-size: 12pt; font-family: "Ubuntu Mono", monospace; min-width: 10em; }
td.empty { background-color: #eee; }
td.desc { font-family: sans-serif; background-color: #eee; color: black; }
.key { color: #909; font-weight: bold; }
.op { color: #c60; }
.val { color: #00c; }
.builtin { color: #099; }
.note { color: #777; font-style: italic; }
.empty { background-color: #eee; }
.error { padding: 0 0.2em; border-radius: 0.2em; background-color: #fdd; }
.cli:before { content: "$ "; color: #ccc; }
